.invalid-tooltip {
    width: fit-content;
    display: flex !important;
    top: 80%;
    right: 25px;
    font-size: 70%;
    position: initial;
    margin-left: auto !important;
    margin-top: 0;
    margin-bottom: 1px;
}