<div class="d-flex titulo justify-content-center">
  <h3>Bienvenido a la pagina de empleados de la empresa GeekHolick Inc</h3>
</div>
<div class="d-flex justify-content-center">
  <img class='imagen' src="../../../assets/image.jpg" width="40%" height="40%" alt="imagen" />
</div>

<div class="px-4 parrafo">
  <p>
    Esta página esta destinada a personal autorizado para el ingreso,
    modificación de datos, eliminación o visualizar los empleados de la compañía
    GeekHolick.
  </p>

  <h6>La empresa se reserva los derechos de autor.</h6>
</div>
